<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
</head>

<body>
<h1 align = 'center'>Regester to swift as an Agent</h1>
    <table align='center'>
		<form method='POST' action='/create_agent' align='center'>
                <tr>
                    <td align='right'><b>First Name:</b></td>
                    <td><input type='text' , id='first_name' name='first_name'></td>
                </tr>
				
                <tr>
                    <td align='right'><b>Last Name:</b></td>
                    <td><input type='text' , id='last_name' name='last_name'></td>
                </tr>
				
                <tr>
                    <td align='right'><b>PhoneNumber:</b></td>
                    <td><input type='text' , id='phone_number' name='phone_number'></td>
                </tr>
				
                <tr>
                    <td align='right'><b>PIN:</b></td>
                    <td><input type='text' , id='pin' name='pin'></td>
                </tr>
				
                <tr>
                    <td align='right'><b>Initail deposite:</b></td>
                    <td><input type='text' , id='balance' name='balance'></td>
                </tr>
				<tr>
				<td></td>
					<td><input type='submit' value='LOGIN'></td>
				<tr>
		</form>
	</table>
</body>

</html>