<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
</head>

<body>
    <h1 align = 'center'>Register to swift as a client</h1>
    <form method='POST' action='/create_client' align='center'>
        <table align='center'>
            <thead>
                <tr></tr>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td align='right'>First Name:</td>
                    <td><input type='text' , id='first_name' name='first_name'></td>
                <tr>
                <tr>
                    <td align='right'>Last Name:</td>
                    <td><input type='text' , id='last_name' name='last_name'></td>
                <tr>
                <tr>
                    <td align='right'>PhoneNumber:</td>
                    <td><input type='text' , id='phone_number' name='phone_number'></td>
                <tr>
                <tr>
                    <td align='right'>PIN:</td>
                    <td><input type='text' , id='pin' name='pin'></td>
                <tr>
                <tr>
                    <td align='right'>Initail deposite:</td>
                    <td><input type='text' , id='balance' name='balance'></td>
                <tr>
            </tbody>
        </table>
        <input type='submit' value='Register'>
    </form>
</body>

</html>