<!DOCTYPE html>
<html>

<head>
    <title>LOGIN</title>
</head>

<body>
    <h1 align='center'>swift</h1>
    <form method='POST' action='/' align='center'>
    	<table align = 'center'>
        <tr>
        	<td><b>PhoneNumber:</b></td>
			<td><input type='text' , id='phone_number' name='phone_number' align = 'right'></td></tr>
        <tr>
        	<td align = 'left'><b>PIN:</b></td>
			<td><input type='text' , id='pin' name='pin' ></td></tr>
        <tr><td></td>
        	<td align = 'left'><input type='submit' value='LOGIN'></td></tr>
        </table>
    </form>
</body>

</html>